* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  background: #F2F2F2;
}

body, select {
  font: 400 1.6rem Inter, sans-serif;
}

select {
  padding: 5px 15px;
  background: #DADED5;
  color: #A60402;
  border: 0;
  border-radius: 6px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #646661;
}

button {
  cursor: pointer;
  border: 0px;
}

a {
  text-decoration: none;
}

@media(min-width: 700px) {
  html {
    font-size: 62.5%;
  }
}